body {
  display: flex;
  background-color: #EFF6FF;
  font-family: Barlow Regular, sans-serif;
  color: #2A4A5C;
}

header {
  width: 50%;
  float: left;
}

main {
  margin: auto;
  padding-left: 60px;
  padding-right: 40px;
  width: 50%;
  float: right;
}

.logo {
  width: 100%;
}

.heading {
  font-weight: normal;
  font-size: 26px;
}

.subtitle {
  color: #7B8A92;
  font-size: 18px;
  padding-bottom: 20px;
}

.linksBtn {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.btnFb {
  background: #255A9B;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: white;
  padding: 0.8rem 1.5em;
  text-decoration: none;
  margin-right: 60px;
}

.btnIn {
  background: #0076B6;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: white;
  padding: 0.8rem 1.5em;
  text-decoration: none;
}

.or {
  text-align: center;
  font-size: 12px;
  overflow: hidden;
}

.or:before,
.or:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 25%;
  height: 1px;
  background: #AFAFAF;
  border: solid #EFF6FF;
  border-width: 0 20px;
}

.or:before {
  margin-left: -100%;
}

.or:after {
  margin-right: -100%;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 10px;
}

.inputContainer label {
  display: block;
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
  color: #96A5B1;
  font-size: 14px;
}

.inputContainer input {
  padding: 30px 0 10px 10px;
  width: 100%;
  margin-right: 20px;
  background: #EFF6FF;
  border: thin solid #EEEEEE;
  font-size: 18px;

}

.inputContainer input:focus {
  outline: none;
  border-left: 1px solid #3698FB;
}

h2 {
  font-weight: normal;
  font-size: 23px;
}

.radioTitle {
  font-weight: normal;
  font-size: 14px;
  color: #7B8A92;
  margin-bottom: 30px;
}

.radioContainer {
  display: flex;
  justify-content: space-between;
}

.radioContainer input[type="radio"] {
  display:none;
}

.radioContainer label::before {
  display:inline-block;
  content: "";
  background:#EFF6FF;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  border: 1px solid #AFAFAF;
  margin-right: 10px;
  vertical-align: -2px;
}

.radioContainer input[type="radio"]:checked + label::before {
  border: 3px solid #3698FB;
}

.typePerson {
  margin-top: 20px;
  font-size: 13px;
  color: #96A5B1;
  width: 40%;
  padding: 0.5rem 1rem;
  box-shadow: 0 7px 14px #DCDCDC, 0 5px 5px #DCDCDC;
  background: #EFF6FF;
  margin-bottom: 50px;
}

.terms {
  font-size: 14px;
  color: #96A5B1;
  margin-bottom: 50px;
}

.terms input[type="checkbox"] {
  opacity: 0;
}

.terms label::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 1px solid #96A5B1;
  left: -25px;
}

.terms label::after {
  content: "";
  display: inline-block;
  height: 6px;
  width: 9px;
  color: #3698FB;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
 }

.terms label {
  position: relative;
 }

.terms label::before,
.terms label::after {
  position: absolute;
 }

.terms label::before {
  top: 1px;
 }

.terms label::after {
  left: -23px;
  top: 2px;
 }

.terms input[type="checkbox"] + label::after {
  content: none;
 }

.terms input[type="checkbox"]:checked + label::after {
  content: "";
 }

.createBtn {
  font-size: 16px;
  color: #FFFFFF;
  background: #3698FB;
  text-align: center;
  padding: 15px 0 15px 0;
  width: 45%;
  border: 0;
  border-radius: 5px;
 }

